{% load static %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="{% static '/css/footer.css/' %}">

</head>

<body>
  <!-- navbar -->
  <!-- navbar-light bg-light -->
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="http://127.0.0.1:8000/" style="color: black;">GOFASHION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        {% if request.session.customer %}
        <li class="nav-item">
          <a class="nav-link" style="color: black;">Hello, <b>{{ request.session.first_name }}</b><span
              class="sr-only">(current)</span></a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/" style="color: black;">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart" style="color: black;">
            <i class="fas fa-cart-plus"></i>
            <span class="badge" style="background-color: #723dbe; color: white;">{{ request.session.cart.keys|length }}</span>
            <span class="sr-only">(current)</span>
          </a>
        </li>

        {% if request.session.customer %}
        <!-- dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: black;">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile/{{ request.session.customer }}" style="color: black;">Manage My
              Profile</a>
            <a class="dropdown-item" href="/orders" style="color: black;">My Orders</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout" style="color: black;">Logout</a>
            <!-- <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/signup" style="color: black;">Signup <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" style="color: black;">Login<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>

      <!-- right side -->
      <form method="get" action="/search" class="form-inline my-2 my-lg-0" style="width: 495px;">
        <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search..." aria-label="Search"
          name="search" id="search" style="width:512px; height: 48px;">
        <button class="search-button"
          style="transform: translateX(-50px); border: none; background-color: transparent; margin-top: -47px; margin-left: 496px;">
          <i class="fas fa-search search-icon"></i>
        </button>

      </form>
      </form>
    </div>
  </nav>
  <!-- <br>
    <br>
    <hr> -->
  {% block content %}
  {% endblock %}
  <br><br><br>
  <!-- footer -->
  <section id="footer">
    <div class="container-fluid text-left">
      <footer>
        <div class="row">
          <div class="col-md-4">
            <h4>GoFashion E-Commerce System</h4>
            <hr style="color: black; background: black">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum maxime nam consequuntur repellat explicabo, rerum quaerat laborum repellendus fugit? Enim dicta fuga consequuntur quod dolorem, eveniet animi eius nemo debitis.
            </p>
          </div>
          <div class="col-md-2">
            <h4>Links</h4>
            <hr style="color: black; background: black">
            <ul>
              <a href="/">
                <li>Home</li>
              </a>
              <a href="/cart">
                <li>Cart</li>
              </a>
            </ul>
          </div>
          <div class="col-md-2 pt-5">
            <ul>
              <a href="#">
                <li>Why Us</li>
              </a>
              <a href="#">
                <li>Contact Us</li>
              </a>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>Contact Us</h4>
            <hr style="color: black; background: black">
            <h3>gofashion.com.np</h3>
            <p>Tinkune, Kathmandu<br>
              Tel: 9800000000<br>
              Email: info@gofashion.com.np</p>
          </div>
        </div>
      </footer>
    </div>
  </section>
  <div class="container-fluid">
    <div class="mainfooter">
      <a href="#">Terms of Service&nbsp;&nbsp;</a>
      <a href="#">Privacy Policy</a>
      <p>&copy; by : <a href="#">GoFashion</a></p>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>