{% extends 'base.html' %}

{% load static %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css/' %}">
        <title>GoFashion | Profile</title>
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center login-container">
            <form class="login-form">
                <h1 class="mb-5 font-weight-light text-uppercase text-center">Your Profile</h1>

                <!-- <div class="form-group">
                    <label for="">First Name</label> <input type="password" name="password" id="" class="form-control rounded-pill form-control-lg" placeholder="Password" >
                </div> -->



                <hr>
                {{ request.session.first_name }}
                <br>
                {{ request.session.last_name }}
                <br>
                {{ request.session.phone }}
                <br>
                {{ request.session.email }}
                <br>
                <hr>

                <!-- button -->
                    <a id="12" href="/edit_profile/{{ request.session.customer }}" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Edit Profile</a>
              
            </form>
        </div>
    </body>
</html>
{% endblock %}


   