{% extends 'base.html' %}

{% load static %}

{% block content %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css/' %}">
        <title>GoFashion | Register</title>
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center login-container">
            <form class="login-form text-center" action="/signup" method="POST">
                {% csrf_token %}
                <h1 class="mb-5 font-weight-light text-uppercase">Register</h1>
                <!-- alert message for error-->
                {% if error %}
                <div class="form-group" role="alert">
                    {{ error }}
                </div>
                {% endif %}

                <!-- firstname -->
                <div class="form-group">
                    <input type="text" name="firstname" id="" value="{{ values.first_name }}" class="form-control rounded-pill form-control-lg" placeholder="Firstname" required>
                </div>

                <!-- lastname -->
                <div class="form-group">
                    <input type="text" name="lastname" id="" value="{{ values.last_name }}" class="form-control rounded-pill form-control-lg" placeholder="Lastname" required>
                </div>

                <!-- phone -->
                <div class="form-group">
                    <input type="text" name="phone" id="" value="{{ values.phone }}" class="form-control rounded-pill form-control-lg" placeholder="Phone number" required>
                </div>

                <!-- email -->
                <div class="form-group">
                    <input type="email" name="email" id="" value="{{ values.email }}" class="form-control rounded-pill form-control-lg" placeholder="Email" required>
                </div>

                <!-- password -->
                <div class="form-group">
                    <input type="password" name="password" id="" class="form-control rounded-pill form-control-lg" placeholder="Password" required>
                </div>

                <div class="forgot-link form-group d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember" required>
                        <label class="form-check-label" for="remember">I agree the terms and conditions.</label>
                    </div>
                </div>

                <!-- button -->
                <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Sign up</button>
                <p class="mt-3 font-weight-normal">Already have an account? <a href="/login"><strong>Login Now</strong></a></p>
            </form>
        </div>
    </body>
{% endblock %}
